.suggestion-item {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  list-style-type: none;
}
.suggestion-text {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .suggestion-text {
    font-size: 20px;
  }
}
.arrow-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.arrow {
  width: 15px;
  height: 15px;
}
@media screen and(min-width:768px) {
  .arrow {
    width: 25px;
    height: 25px;
  }
}
